@page "/myorders"
<PageTitle>Мои родные</PageTitle>

<header class="rel-header">
    <h1>Мои заказы</h1>
</header>

<div class="main-container">
    <table>
        <thead>
            <tr>
                <td>Дата</td>
                <td>Номер заказа</td>
                <td>Имя родного</td>
                <td>Описание</td>
                <td>Исполнитель</td>
                <td>Статус</td>
                <td>Сумма</td>
            </tr>
        </thead>
        <tbody>
            <tr class="bstr">
                <td>20.07.2022</td>
                <td>#V9FCA95R</td>
                <td>Фигалов Максим Анатольевич</TD>
                <td>Уборка участка и посадка цветов</td>
                <td>Андрей Олегович</td>
                <td style="color: green">Завершён</td>
                <td>4000 р</td>
            </tr>
            <tr class="bstr">
                <td>21.08.2020</td>
                <td>#F1GBZ9J2</td>
                <td>Фигалов Максим Анатольевич</TD>
                <td>Установка памятника</td>
                <td>Антон Виссарионович</td>
                <td style="color:#ffc300">В работе</td>
                <td>9000 р</td>
            </tr>
        </tbody>
    </table>
</div>

@code
{
}