@page "/searchrelatives"

<PageTitle>Поиск Родных</PageTitle>

<header class="rel-header">
    <h1>Поиск родных</h1>
</header>
<div class="main-container">
    <form>
        <div>
            <div>
                <p>Фамилия</p>
                <input />
            </div>
            <div>
                <p>Имя</p>
                <input />
            </div>
            <div>
                <p>Отчество</p>
                <input />
            </div>
        </div>
        <div>
            <div>
                <p>Год рождения</p>
                <input />
            </div>
            <div>
                <p>Год смерти</p>
                <input />
            </div>
            <div>
                <p>Расположение</p>
                <input />
            </div>
        </div>
        <div>
            <button>
                <p>Найти</p>
            </button>
        </div>
    </form>
</div>


@code {

}
